<% if (success.length > 0) { %>
<div class="alert alert-light my-0" role="alert"><%= success %></div>
<% } %> <% if (error.length > 0) { %>
<div class="alert alert-danger my-0" role="alert"><%= error %></div>
<% } %>
