<nav class="mm-navbar">
  <div class="mm-nav-left">
    <a href="/" class="mm-logo">MarketMapper</a>
  </div>

  <div class="mm-nav-right">
    <% if(!auth){ %>

    <a href="/login" class="mm-nav-link">Sign in</a>
    <% } else{ %>
    <a href="/history" class="mm-nav-link history">View History</a>
    <a href="/logout" class="mm-nav-link">LogOut</a>
    <% } %>
  </div>
</nav>
