<nav class="mm-navbar">
    <div class="mm-nav-left">
        <a href="/" class="mm-logo">MarketMapper</a>
    </div>

    <div class="mm-nav-right">
        <a href="/history" class="mm-nav-link history">View History</a>
        <a href="/login" class="mm-nav-link">Login</a>
        <a href="/signup" class="mm-nav-btn">Sign Up</a>
    </div>
</nav>
